.login-contenedor {
    max-width: 400px;
    margin: 120px auto;
    background: #fff;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.mensaje {
    color: red;
    margin-bottom: 15px;
}